{{ partial "html-begin.html" . }}
<article class="markdown">
  <h1>{{ .Title }}</h1>
  
  {{ with .Content }}
  <div>
    {{ . }}
    {{ if $.Data.Pages }}<hr>{{ end }}
  </div>
  {{ end }}

  {{ if .Data.Pages }}
  <h2 class="zero-margin-top">
    Group by: <a href="#"
                 id="page-list-groupby"
                 onclick="return group.next();">Year</a>
  </h2>
  
  <div id="page-list-groups">
    {{ .Data.Pages.GroupByDate "2006" | partial "page-list-by-group.html" }}
    {{ index .Site.Taxonomies.categories | partial "page-list-by-taxonomy.html" }}
    {{ index .Site.Taxonomies.tags | partial "page-list-by-taxonomy.html" }}
  </div>
  {{ end }}
</article>

<script defer>
  var group = (function() {
      const sequence = ['Year', 'Category', 'Tag'];
      var index = sequence.length - 1;
      var groupby = document.getElementById('page-list-groupby');
      var groups = document.getElementById('page-list-groups');

      var pub = {};

      pub.next = function() {
          groups.children[index].style.display = 'none';
          index = (index + 1) % sequence.length;
          groupby.innerHTML = sequence[index];
          groups.children[index].style.display = 'block';
          return false;
      };

      return pub;
  }());
  group.next();
</script>
{{ partial "html-end.html" . }}
