{{ range .Site.Params.Fonts.Local }}
@font-face {
    font-family: '{{ .name }}';
    src: url('{{ $.Site.BaseURL }}fonts/{{ .filename }}');
}
{{ end }}

/* Default */
body {
    font-family: {{ .Site.Params.Fonts.Default | default "serif" }};
}

/* Title */
.title {
    font-family: {{ .Site.Params.Fonts.Title | default "sans-serif" }};
}

/* Navigation */
#site-nav {
    font-family: {{ .Site.Params.Fonts.Navigation | default "serif" }};
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: {{ .Site.Params.Fonts.Header | default "serif" }};
}

/* Code */
code,
pre,
kbd {
    font-family: {{ .Site.Params.Fonts.Code | default "monospace" }};
}
