{{ range .Site.Params.Fonts.Local }}
@font-face {
    font-family: '{{ .name }}';
    src: url('{{ $.Site.BaseURL }}fonts/{{ .filename }}');
}
{{ end }}

/* Default */
body {
    {{ with .Site.Params.Fonts.Default }}
    font-family: {{ . }};
    {{ else }}
    font-family: serif;
    {{ end }}
}

/* Title */
.title {
    font-family: {{ .Site.Params.Fonts.Title | default "sans-serif" }};
}

/* Header */
#site-header,
header,
h1,
h2,
h3,
h4,
h5,
h6 {
    {{ with .Site.Params.Fonts.Header }}
    font-family: {{ . }};
    {{ else }}
    font-family: sans-serif;
    {{ end }}
}

/* Code */
code,
pre {
    {{ with .Site.Params.Fonts.Code }}
    font-family: {{ . }};
    {{ else }}
    font-family: monospace;
    {{ end }}
}
