/* Background color */
html {
    {{ with .Site.Params.Color.Background }}
    background-color: {{ . }};
    {{ else }}
    background-color: #ffffe0;
    {{ end }}
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
}
