html {
    background-color: {{ .Site.Params.Color.Background | default "#ffffff" }};
    height: auto;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;
}

/* Fill vertical space with site-content,
 * forcing footer to the bottom */
#site-content {
    flex: 1 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 5.55%;
    max-width: 800px;
    width: 100%;
}

/* Wider content on very wide screens */
@media (min-width: 2400px) {
    #site-content {
        max-width: 950px;
    }
}

/* Layout utility classes */

.zero-margin-top {
    margin-top: 0 !important;
}

.columns,
.columns-split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.columns > *,
.columns-split > * {
    flex: 1;
    margin-left: .5em;
    margin-right: .5em;
}

.columns > *:first-child,
.columns-split > *:first-child {
    margin-left: 0;
}

.columns > *:last-child,
.columns-split > *:last-child {
    margin-right: 0;
}

.columns-split > * {
    text-align: center;
}

.columns-split > *:first-child {
    text-align: left;
}

.columns-split > *:last-child {
    text-align: right;
}
