html {
    background-color: {{ .Site.Params.Color.Background | default "#fff" }};
    height: auto;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100vh;
}

/* Fill vertical space with site-content,
 * forcing footer to the bottom */
#site-content {
    flex: 1 0 auto;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 5%;
    max-width: calc(840px + 10%);
    width: 100%;
}

/* Wider content on very wide screens */
@media (min-width: 2000px) {
    #site-content {
        max-width: calc(1000px + 10%);
    }
}

/* Meta information about a page, underneath the page title */
.meta-box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: -.5em 0 2em;
}

.meta-box :first-child ~ :last-child {
    text-align: right;
}

.meta-box ul {
    list-style-type: none !important;
    margin: 0 !important;
    display: flex;
    flex-direction: row;
}

.meta-box ul.tags:before {
    content: "Tags:";
    margin-right: .75ex;
}

.meta-box ul li {
    margin: 0 .75ex 0 0 !important;
}

.meta-box ul li:last-child {
    margin: 0 !important;
}

.meta-box ul.tags li:after {
    content: ",";
    margin-left: -.4ex;
}

.meta-box ul.categories li:after {
    content: "&";
    margin-left: .1ex;
}

.meta-box ul li:last-child:after {
    content: "";
    margin: 0;
}

/* Layout utility classes */

.center {
    text-align: center !important;
}

.immediate {
    margin-top: 0 !important;
}

.columns,
.columns-split {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}

.columns > :last-child,
.columns-split > :last-child {
    margin-right: 0;
}

.columns > *,
.columns-split > * {
    margin-left: .5em;
    margin-right: .5em;
}

.columns > :first-child,
.columns-split > :first-child {
    margin-left: 0;
}

.columns-split > :last-child {
    text-align: right;
}

.columns-split > * {
    text-align: center;
}

.columns-split > :first-child {
    text-align: left;
}
