/* Paragraphs */
.markdown p {
    {{ if .Site.Params.justify }}
    text-align: justify;
    {{ else }}
    text-align: left;
    {{ end }}
    margin-bottom: 1em;
}

.markdown p:last-child {
    margin-bottom: 0;
}

/* Don't justify paragraphs on small screens */
@media (max-width: 800px) {
    .markdown p {
        text-align: left;
    }
}

/* Code */
.markdown code,
.markdown pre {
    font-size: 0.93em;
    font-weight: 400;
    line-height: 1.2;
    white-space: pre;
}

/* Inline code */
.markdown code {
    padding: 0.15em 0.5em;
    background-color: {{ .Site.Params.Color.CodeBackground | default "#f5f5f7" }};
    color: {{ .Site.Params.Color.Code | default "inherit" }};
    {{ if (.Site.Params.Color.CodeShowBorder | default true) }}
    border-radius: 4px;
    border: 1px solid {{ .Site.Params.Color.CodeBorder | default "#ddd" }};
    {{ end }}
}

/* Code blocks */
.markdown pre {
    max-width: 100%;
    margin: 1.5rem 0 2.5rem;
    padding: 1rem;
    overflow-x: auto;
    {{ if (.Site.Params.Color.CodeBlockShowBorder | default true) }}
    border-radius: 4px;
    border: 1px solid {{ .Site.Params.Color.CodeBlockBorder | default "#ddd" }};
    {{ end }}
}

.markdown pre,
.markdown pre code {
    background-color: {{ .Site.Params.Color.CodeBlockBackground | default "#f5f5f7" }};
    color: {{ .Site.Params.Color.CodeBlock | default "inherit" }};
}

.markdown pre code {
    padding: 0;
    border: none;
    border-radius: 0;
}

/* Inline code as a link */
.markdown a code {
    color: {{ .Site.Params.Color.CodeLink | default "#428bca" }};
}

/* Inline code as a hovered link */
.markdown a code:hover {
    text-decoration: underline;
}

/* Lists */
.markdown ul,
.markdown ol,
.markdown dl {
    padding: 0;
    margin-left: 0.5rem;
}

/* Definition list labels */
.markdown dt {
    font-weight: bold;
}

/* Definition list definitions */
.markdown dd {
    margin-bottom: 0.5rem;
}

/* Unordered lists */
.markdown ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 1.25rem;
}

/* Ordered lists */
.markdown ol {
    list-style-type: decimal;
    margin-bottom: 1.25rem;
}

/* Ordered list items */
.markdown ol > li {
    text-indent: 0.2rem;
}

/* Nested lists */
.markdown li ul,
.markdown li ol,
.markdown li dl {
    margin: 0;
}

/* List items */
.markdown li {
    margin: 0.35rem 0 0.35rem 2.5rem;
}

/* Emphasized text */
.markdown em {
    font-style: italic;
}

/* Strong text */
.markdown strong {
    font-weight: 700;
}

/* Simple horizontal rule */
.markdown hr {
    margin: 2rem 0;
    height: 1px;
    border: none;
    background-color: {{ .Site.Params.Color.Separator | default "#e9e9e9" }};
}

/* Abbreviations */
.markdown abbr {
    font-size: 0.85rem;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
}
.markdown abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #808080;
}

/* Blockquotes */
.markdown blockquote {
    padding: 1rem 1.33rem;
    margin: 1rem 0 1rem 1rem;
    color: {{ .Site.Params.Color.Quote | default "#585866" }};
    font-size: 105%;
    font-style: italic;
    background-color: {{ .Site.Params.Color.QuoteBackground | default "#fff" }};
    {{ if (.Site.Params.Color.QuoteShowBorder | default true) }}
    border-left: 0.33em solid {{ .Site.Params.Color.QuoteBorder | default "#c4e4f8" }};
    {{ end }}
}

.markdown blockquote p:last-child {
    margin-bottom: 0;
}

/* Images */
.markdown img {
    transition: all 0.12s;
}

/* Image interactivity */
.markdown img:active,
.markdown img:focus {
    margin-top: -8px;
    margin-bottom: 8px;
    filter: drop-shadow(0px 8px 5px gray) contrast(105%);
}

/* Figures */
.markdown figure {
    display: flex;
    flex-wrap: wrap;
    margin: 1em -.4em;
}

.markdown figure > * {
    padding: 0.4em;
}

/* Tables */
.markdown table {
    width: 100%;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.markdown table code {
    border: none;
    background-color: inherit;
}

.markdown td,
.markdown th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
}

.markdown th {
    font-weight: bold;
}

.markdown thead tr td,
.markdown thead tr th {
    background-color: #f5f5f7;
}

/* Footnote section */
.markdown .footnotes,
.markdown .foot {
    color: {{ .Site.Params.Color.FootnoteList | default "#666" }};
    font-size: 90%;
}

/* Footnote section header */
.markdown .footnotes ol:before,
.markdown .foot:before {
    font-weight: 700;
    font-size: 120%;
    content: attr(data-title);
    display: block;
}

.markdown .footnotes ol:before {
    content: "Footnotes...";
}

/* Footnote list */
.markdown .footnotes ol,
.markdown .foot ol {
    list-style-type: decimal;
    margin-left: 0;
}

/* Footnote list item */
.markdown .footnotes li,
.markdown .foot li {
    margin-left: 2em;
}

/* Superscript & subscript */
.markdown sup,
.markdown sub {
    font-size: 0.8em;
}

/* Footnote superscript */
.markdown .footnote-ref > a {
    font-weight: 700;
}

.markdown .footnote-ref > a:before {
    margin-left: 1px;
    content: "[";
}

.markdown .footnote-ref > a:after {
    content: "]";
}

/* Footnote return link */
.markdown .footnote-return {
    font-size: 0;
    font-weight: 700;
}

.markdown .footnote-return:before {
    content: "↩";
    font-size: 1rem;
    text-decoration: underline;
    transform: scale(1.3, 1);
    margin-left: 0.3rem;
    display: inline-block;
}
