/* Markdown */
.markdown {
    color: {{ .Site.Params.Color.Default | default "#31353a" }};
}

/* Paragraphs */
.markdown p {
    {{ if .Site.Params.justify }}
    text-align: justify;
    {{ else }}
    text-align: left;
    {{ end }}
    margin-bottom: 1em;
}

/* Don't justify paragraphs on small screens */
@media (max-width: 800px) {
    .markdown p {
        text-align: left;
    }
}

/* Headers */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: 700;
    color: {{ .Site.Params.Color.Header | default "#303048" }};
    margin: 1em 0 .5em;
}

.markdown h1 {
    font-size: 300%;
    line-height: 1.1;
    letter-spacing: -1.5px;
    text-align: center;
}

.markdown h2 {
    font-size: 225%;
    line-height: 1.1;
    letter-spacing: -1px;
}

.markdown h3 {
    font-size: 180%;
    line-height: 1.3;
}

.markdown h4 {
    font-size: 150%;
    line-height: 1.3;
}

.markdown h5 {
    font-size: 130%;
}

.markdown h6 {
    font-size: 100%;
}

/* Code */
.markdown code,
.markdown pre {
    font-size: .98rem;
    line-height: 1.25;
    background-color: #fafafa;
}

/* Inline code */
.markdown code {
    padding: .15em .5em;
    border-radius: 2px;
}

.markdown pre code {
    padding: 0;
    border-radius: 0;
}

/* Code blocks */
.markdown pre {
    max-width: 100%;
    margin: 1.5rem 0 2.5rem;
    padding: 1rem;
    border-radius: 2px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    transition: all .2s;
}

.markdown pre:hover,
.markdown pre:active {
    max-width: 105%;
    margin-left: -2.5%;
    margin-right: -2.5%;
}

/* Inline code as a link */
.markdown a code {
    color: #428bca !important;
}

/* Inline code as a hovered link */
.markdown a code:hover {
    text-decoration: underline;
}

/* Lists */
.markdown ul,
.markdown ol,
.markdown dl {
    padding: 0;
    margin-left: .5rem;
}

/* Definition list labels */
.markdown dt {
    font-weight: bold;
}

/* Definition list definitions */
.markdown dd {
    margin-bottom: .5rem;
}

/* Unordered lists */
.markdown ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 1.25rem;
}

/* Ordered lists */
.markdown ol {
    list-style-type: decimal;
    margin-bottom: 1.25rem;
}

/* Nested lists */
.markdown li ul,
.markdown li ol,
.markdown li dl {
    margin: .15rem 0 .15rem .25rem;
}

/* List items */
.markdown li {
    margin-left: 1.5em;
}

/* Emphasized text */
.markdown em {
    font-style: italic;
}

/* Strong text */
.markdown strong {
    font-weight: 700;
}

/* Fancy horizontal rule */
.markdown hr {
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));
}

/* Abbreviations */
.markdown abbr {
    font-size: .85rem;
    font-weight: bold;
    color: #666666;
    text-transform: uppercase;
}
.markdown abbr[title] {
    cursor: help;
    border-bottom: 1px dotted #808080;
}

/* Blockquotes */
.markdown blockquote {
    padding: .5rem .5rem .5rem 1.25rem;
    margin: .8rem 0 .8rem 1rem;
    color: {{ .Site.Params.Color.Quote | default "#7a7e82" }};
    font-size: 115%;
    font-style: italic;
    background-color: #fafafa;
    box-shadow: inset 4px 0 2px 1px #eee;
}

.markdown blockquote p:last-child {
    margin-bottom: 0;
}

/* Images */
.markdown img {
    max-width: 100%;
    transition: all .2s;
}

.markdown img:active,
.markdown img:focus {
    max-width: 110%;
    margin-left: -5%;
}

/* Tables */
.markdown table {
    margin-bottom: 1rem;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

.markdown td,
.markdown th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
}

.markdown tbody tr:nth-child(odd) td,
.markdown tbody tr:nth-child(odd) th {
    background-color: #f7f7f7;
}

/* Footnote list */
.markdown .footnotes ol {
    list-style-type: decimal;
    margin-left: 16px;
}

/* Footnote list item */
.markdown .footnotes li {
    list-style-type: unset;
}

/* Footnote reference */
.markdown .footnote-ref {
    font-size: .85em;
}

.markdown .footnote-ref > a {
    text-decoration: underline;
}
