.click-reveal:before,
.hover-reveal:before {
    content: attr(data-label);
    text-decoration: underline;
}

.click-reveal,
.hover-reveal {
    cursor: pointer;
}

.click-reveal > *,
.hover-reveal > * {
    display: none !important;
}

.click-reveal:active > *,
.hover-reveal:hover > * {
    display: inline-block !important;
}

.click-reveal-region,
.hover-reveal-region {
    width: 100%;
    background-color: #e0f8f8;
    margin: 1rem 0;
    padding: 1rem;
    cursor: pointer;
}

.click-reveal-region > *,
.hover-reveal-region > * {
    visibility: hidden !important;
}

.click-reveal-region:active > *,
.hover-reveal-region:hover > * {
    visibility: visible !important;
}
