#site-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1.25em;
    line-height: 1.25;
}

#site-title {
    font-size: 200%;
    font-weight: 300;
}

#site-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 90%;
    font-weight: 400;
}

#site-nav > * {
    margin: 0 0.1em;
    padding: 0 0.5em;
}
