body {
    line-height: 1.6;
    text-align: left;
    text-rendering: optimizeLegibility !important;
    font-size: 16px;
    font-weight: 300;
    color: {{ .Site.Params.Color.Foreground | default "#202036" }};
}

/* Link */
a {
    {{ $bg := "white" }};
    {{ $fg := .Site.Params.Color.Link | default "dodgerblue" }};
    color: {{ $fg }};
    text-decoration: none;
    text-shadow: .03em 0 {{ $bg }}, -.03em 0 {{ $bg }}, 0 .03em {{ $bg }}, 0 -.03em {{ $bg }}, .06em 0 {{ $bg }}, -.06em 0 {{ $bg }}, .09em 0 {{ $bg }}, -.09em 0 {{ $bg }}, .12em 0 {{ $bg }}, -.12em 0 {{ $bg }}, .15em 0 {{ $bg }}, -.15em 0 {{ $bg }};
    background-image: linear-gradient({{ $bg }}, {{ $bg }}), linear-gradient({{ $bg }}, {{ $bg }}), linear-gradient({{ $fg }}, {{ $fg }});
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: 0% 90%, 100% 90%, 0% 90%;
}

/* Hovered link */
a:hover,
a:focus,
a:active {
    color: {{ .Site.Params.Color.LinkHover | default "inherit" }};
    background-image: linear-gradient({{ $bg }}, {{ $bg }}), linear-gradient({{ $bg }}, {{ $bg }}), linear-gradient(black, black);
}

/* Smaller text on very narrow screens */
@media (max-width: 450px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

/* Larger text on very wide screens */
@media (min-width: 2400px) {
    body {
        font-size: 20px;
    }
}
