body {
    line-height: 1.6;
    text-align: left;
    text-rendering: optimizeLegibility !important;
    font-size: 16px;
    font-weight: 300;
    {{ with .Site.Params.Color.Foreground }}
    color: {{ . }};
    {{ else }}
    color: #202036;
    {{ end }}
}

/* Link */
a {
    {{ with .Site.Params.Color.Link }}
    color: {{ . }};
    {{ else }}
    color: dodgerblue;
    {{ end }}
    text-decoration: none;
}

/* Hovered link */
a:hover,
a:focus,
a:active {
    {{ with .Site.Params.Color.LinkHover }}
    color: {{ . }};
    {{ else }}
    color: inherit;
    {{ end }}
    text-decoration: underline;
}

/* Smaller text on very narrow screens */
@media (max-width: 450px) {
    body {
        font-size: 15px;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 14px;
    }
}

/* Larger text on very wide screens */
@media (min-width: 2400px) {
    body {
        font-size: 20px;
    }
}
