/* Default */
body {
    font-family: $body-font;
}

/* Title */
.title {
    font-family: $title-font;
}

/* Navigation */
#site-nav {
    font-family: $nav-font;
}

/* Header */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
}

/* Code */
code,
pre,
kbd {
    font-family: $code-font;
}
