/* Arrange footer */
#site-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5em 0;
    margin-top: 6em;
    font-style: italic;
    font-size: 80%;
    line-height: 1.5;
    border-top: 1px solid $region-border-color;
    background-color: $region-bg-color;
    width: 100%;
}

/* Arrange icons */
#site-contact-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Icon color and spacing */
#site-contact-icons > a {
    fill: $icon-fg-color;
    margin: 0 0.33em;
}

/* Hovered icon color */
#site-contact-icons > a:hover {
    fill: $icon-hover-fg-color;
}

/* Set icons to same height */
#site-contact-icons svg {
    height: 1.5em;
}
