{{ if or (.Params.ShowTime | default true) (.Params.ShowTaxonomy | default true) }}
<div class="meta-box meta">

  {{ if (.Params.ShowTime | default true) }}
  
  <div>
    <span>{{ .Date.Format .Site.Params.DateForm }}</span>
    <br>
    <span>{{ .ReadingTime }} minute read</span>
  </div>

  {{ end }}

  {{ if (.Params.ShowTaxonomy | default true) }}
  
  <div>
    {{ with .Params.Categories }}
    <ul class="categories">
      {{ range . }}
      <li>
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <div>... not categorized</div>
    {{ end }}
    
    {{ with .Params.Tags }}
    <ul class="tags">
      {{ range . }}
      <li>
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <div>... not tagged</div>
    {{ end }}
  </div>
  
  {{ end }}
  
</div>
{{ end }}
