{{ if or (.Params.showtime | default true) (.Params.showtaxonomy | default true) }}
<div class="meta-box meta">

  {{ if (.Params.showtime | default true) }}
  
  <div>
    <span>{{ .Date.Format .Site.Params.dateform }}</span>
    <br>
    <span>{{ .ReadingTime }} minute read</span>
  </div>

  {{ end }}

  {{ if (.Params.showtaxonomy | default true) }}
  
  <div>
    {{ with .Params.categories }}
    <ul class="categories">
      {{ range . }}
      <li>
        <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <div>... not categorized</div>
    {{ end }}
    
    {{ with .Params.tags }}
    <ul class="tags">
      {{ range . }}
      <li>
        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <div>... not tagged</div>
    {{ end }}
  </div>
  
  {{ end }}
  
</div>
{{ end }}
