<footer id="site-footer">
  <!-- Copyright notice -->
  <a id="site-copyright-notice"
     {{ with .Site.Params.LicenseURL }}
     href="{{ . }}"
     {{ else }}
     href="{{ .Site.BaseURL }}doc/LICENSE"
     {{ end }}>
    {{ with .Site.Params.CopyrightNotice }}
    {{ . }}
    {{ else }}
    Copyright: {{ printf "%#v" .Site.Author }}
    {{ end }}
  </a>

  <!-- Contact icons -->
  <span id="site-contact-icons">
    {{ with .Site.Params.Email }}
    <a href="mailto:{{ . }}">
      {{ partial "svg/fa-envelope.svg" . }}
    </a>
    {{ end }}
    
    {{ with .Site.Params.Github }}
    <a href="https://github.com/{{ . }}">
      {{ partial "svg/fa-github.svg" . }}
    </a>
    {{ end }}

    {{ with .Site.Params.Linkedin }}
    <a href="https://linkedin.com/in/{{ . }}">
      {{ partial "svg/fa-linkedin.svg" . }}
    </a>
    {{ end }}

    <a href="index.xml">
      {{ partial "svg/fa-rss.svg" . }}
    </a>
  </span>
</footer>
